src/main/webapp/wsdl/HeaderDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sample.wcjung.com/HeaderDefinition"
	xmlns:tns="http://sample.wcjung.com/HeaderDefinition" elementFormDefault="unqualified">
	<element name="authentication">
		<complexType>
			<sequence>
				<element minOccurs="1" name="name" type="string" />
				<element minOccurs="1" name="password" type="string" />
			</sequence>
		</complexType>
	</element>	
</schema>