src/main/webapp/wsdl/ResponseHeader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wcjung.com/ResponseHeader"
	xmlns:tns="http://www.wcjung.com/ResponseHeader" elementFormDefault="unqualified">
	<element name="status">
		<complexType>
			<sequence>
				<element minOccurs="1" name="ResultCode" type="string" />
				<element minOccurs="1" name="ResultString" type="string" />				
			</sequence>
		</complexType>
	</element>	
</schema>